<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.gpspanicalarm991178" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>GPS Panic Alarm</name>
  <description>
        GPS Panic Alarm sends an SMS with your GPS coordinates to your selected contacts.
    </description>
    <author href="http://davidcusack.com" email="cusackd@gmail.com"> David Cusack </author>
  <content src="index.html"/>
  <icon src="www/assets/icons/icon.png"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
  </platform>
</widget>
