<!-- Panic Button Page -->
<style media="screen">
.panic { border-radius: 200px; border-style: solid; height: 350px; width: 350px; display: block; background-color: #F26E65; color: white; font-size: 53px; margin: 30px auto 0 auto;}
.spinner svg { height: 350px; width: 350px; }
</style>

<ion-view view-title="Panic Button">
  <ion-content padding="true" ng-controller="PanicButtonCtrl" ng-init="init()">
      <div ng-show="sending">
         <ion-spinner icon="ripple" class=ripple></ion-spinner>
      </div>

      <button class="panic" ng-show="hasName && hasContact" ng-hide="sending" ng-click="panicButtonClick()">Press Panic</button>
      <button class="button button-block button-positive" ng-hide="hasContact" ng-click="addContacts()">Add Emergency Contacts Now</button>
      <button class="button button-block button-positive" ng-hide="hasName" ng-click="addName()">Add Name</button>
  </ion-content>
</ion-view>
